{
  "env": {
    // "node": true,
    "browser": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error", {
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2,
        "trailingComma": "none",
        "arrowParens": "avoid"
      }
    ],
    "no-console": "off",
    "quotes": [2, "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }]
  },
  "plugins": ["prettier"]
}
